MINIO_HOST=minio
MINIO_PORT=9000
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
MINIO_BUCKET_MAPS=maps
MINIO_BUCKET_VISUALS=visuals


RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest

RABBITMQ_EXCHANGE=pathformer


WEIGHTS_PATH=/app/weights/best.pt
MAX_CURRENT_GLOBAL=3.0
